@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}
.title-font{
  font-family: 'Bangers', cursive;
  font-size: 75px;
}
.card-text-shadow{
text-shadow: rgba(0, 0, 0, 0.157) 2px 2px;
}
.strike-through{
  text-decoration:line-through;
}
.list-cards{
  min-height: 45vh;
  min-width: 350px;
}
#list-card{
  overflow-x: scroll;
}
.circle {
    width: 20px;
    height: 20px;
    background: #7fee1d;
    border-radius: 60px;
    position:absolute;
}
